.About-me {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.About-me-off-white-section {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    text-align: center;
}

.About-me-grey-section {
    width: 100%;
    background-color: #99d6ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    text-align: center;
}
