.navbar {
    width: 100%;
    background-color: #b3b3b3;
}

.nav-link {
    font-size: 20px;
    font-weight: bold;
}

.navbar-nav .nav-link {
    padding: 1rem;
}

.Header-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    background-color: #b3b3b3;
    box-shadow: 0 4px 2px -2px gray;
    margin-bottom: 2px;
}

.Header-bar--link-group {
    display: flex;
    height: 100%;
}

.Link {
    display: flex;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    font-family: monospace;
    font-size: 20px;
    color: black;
    padding: 0 20px;
}

.Link:hover {
    background-color: white;
}

@media screen and (max-width: 400px) {
    .Header-bar {
        flex-direction: column;
        height: 100px;
    }
}