html, body, #root {
    height: 100%;
}

.Home-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Photo {
    width: 100%;
}

.Main-portion {
    position: relative;
    text-align: center;
    color: white;
}

.Main-portion--name {
    width: 100%;
    font-size: 7vw;
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.Main-portion--job {
    width: 100%;
    font-size: 4vw;
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.Bottom-portion {
    flex-grow: 1;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.Bottom-portion--text {
    font-size: 20px;
    font-weight: bold;
    font-family: auto;
    text-align: center;
}

@media screen and (max-width: 400px) {
    .Quick-summary {
        flex-direction: column;
    }

    .Quick-summary--header {
        flex-direction: column;
    }

    .Quick-summary--photo {
        height: 100%;
        width: 100%;
    }

    .Quick-summary--highlight {
        margin: none;
    }
}
