html, body, #root {
    height: 100%;
}

.Home-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Quick-summary {
    background-color: #cccccc;
    display: flex;
    padding: 2px 0 0 0;
}

.Quick-summary--photo {
    margin: 0;
    width: 360px;
    height: 300px;
}

.Quick-summary--text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.Quick-summary--header {
    display: flex;
    align-items: center;
    color: white; 
    text-align: center;
}

.Quick-summary--highlight {
    margin: 10px;
    color: black;
    font-size: 2.5rem;
}

.Quick-summary--non-highlight {
    font-size: 2em;
    font-weight: bolder;
    font-family: inherit;
}

.Bottom-portion {
    flex-grow: 1;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.Bottom-portion--text {
    font-size: 20px;
    font-weight: bold;
    font-family: auto;
    text-align: center;
    margin: 1rem;
}

@media screen and (max-width: 400px) {
    .Quick-summary {
        flex-direction: column;
    }

    .Quick-summary--header {
        flex-direction: column;
    }

    .Quick-summary--photo {
        height: 100%;
        width: 100%;
    }

    .Quick-summary--highlight {
        margin: none;
    }
}
